.NERDTreeBookmarks
.CFUserTextEncoding
.DS_Store
.docker
.bash_history
.bashrc
.cache
.fasd
.fasd-init-bash
.local
.netrc
.npm
.npmrc
.nvm
.ssh
.vim/pack
.tmux
.tmux.conf.swp
.yankring-history_v2.txt
.yarnrc
.zcompdump
.zcompdump.zwc
.zhistory
.zlogin
.zlogout
.zprezto
.zprofile
.zshenv
.zshrcbackup
.viminfo
.viminfo.tmp
Applications
Code
Desktop
Documents
Downloads
Library
Movies
Music
Parallels
Pictures
Public
tmux-client-6918.log
tmux-server-6920.log
yankring_history_v2.txt


